@model DatabaseAccess.usertype
<br />
<br />
@{
    ViewBag.Title = "Delete UserType Information";
}



<h4 class="m-0 font-weight-bold text-primary">Are You Sure You Want To Delete This Usertype?</h4>
<br />
<div class="card shadow mb-4">

    <dl class="dl-horizontal">
        <br>
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usertype_id)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usertype_name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-warning" })

        </div>
    }
    <br />
</div>
