@model DatabaseAccess.usertype
<br />
<br />
@{
    ViewBag.Title = "UserType Details";
}

<h4 class="m-0 font-weight-bold text-primary">Usertype Details :</h4>
<br />
<div class="card shadow mb-4">

    <br />
    <dl class="table">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usertype_id)
        </dd>

        <dt>
            Name

        </dt>

        <dd>
            @Html.DisplayFor(model => model.usertype_name)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.usertype_id }, new { @class = "btn btn-info" })
        @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-warning" })
    </p>
</div>